.control-panel {
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 8px;
  border: solid thin red;
}

.label-container{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.volume-container{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  display: block;
}