#app{
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  line-height: 1.5em;
  color: #333;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-rows: 150px auto;
  row-gap: 10px;
}

.switch-container {
  display: grid;
  align-items: center;
}

.switch {
  border-radius: 5px;
  height: 42%;
  width: 60%;
  margin: 0 auto;
  border: solid thin #9496e6;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  background-color: #d4d4f1;
}

.switch-button{
  background-color: #2e8dec;
  width: 50%;
  height: 100%;
}